@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    /* overflow: hidden; */
}
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
    background: #232323;
    padding: 100px 20px;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
}
section::before {
    content: "";
    position: fixed;
    background: red;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    clip-path: circle(65% at 100% -20%);
}
section::after {
    content: "";
    position: fixed;
    background: blue;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    clip-path: circle(35% at 0% 100%);
}
.container {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}
.container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0,0, 0, 0.2);
    backdrop-filter: blur(20px);
}
.container .card .img-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    transition: 0.5s ease-in-out;
}
.container .card:hover .img-box {
    transform: translateY(-100px);
}
.container .card .img-box img {
    max-width: 100%;
    margin-top: -200px;
    transition:  0.5s ease-in-out;
}
.container .card:hover .img-box img {
    transform: translate(-20px, -40px) rotate(-20deg) scale(1.4);
}
h2 {
    color: white;
    font-weight: 500;
}
.container .card .content{
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease-in-out;
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
}
.container .card:hover .content {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50px);
}
.container .card .content .size,
.container .card .content .color {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
}
h3 {
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}
span {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    display: inline-block;
    color: #000;
    background: #fff;
    border-radius: 6px;
    font-size: 14px;
    margin: 0 5px ;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}
span:hover {
    background: orange;
}
.container .card .content .color span {
    border-radius: 50%;
    border: 2px solid white;
    background: red;
}
.container .card .content .color span:nth-child(3) {
    background: green;
}
.container .card .content .color span:nth-child(4) {
    background: blue;
}
a {
    display: inline-block;
    background: #fff;
    padding: 12px 30px;
    border-radius: 40px;
    text-decoration: none;
    text-transform: uppercase;
}
